<!DOCTYPE html>
<html>
<head>
  <title>Twizzlr Security</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Welcome to Twizzlr Security</h1>
    </div>
    <p>Your partner in securing your digital assets.</p>
    <a href="/login">Login</a>
  </div>
</body>
</html>
